global
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_in
    bind *:80
    default_backend spring_apps

backend spring_apps
    balance roundrobin
    server app1 app-1:8080 check
    server app2 app-2:8081 check
    server app3 app-3:8082 check

